*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navigatie-balk {
    display: flex;
    flex-direction: row;
     height: 8vh;
    max-width: 100vw;
}
.RiotGames {
    background-color: red;
    width: 33.33%;
}
.Nav-menu {
    background-color: yellow;
    width: 33.33%;
}
.login-container{
    background-color: blue;
    width: 33.33%;
}